[alias]
	c = commit --verbose
	ca = "!f() { if [ -n \"$(git status --porcelain)\" ]; then git commit --amend --no-edit --no-verify \"$@\"; else echo \"Nothing to do\" >&2; fi; }; f"
	cap = ca --patch
	cau = !git add --update && git ca
	co = checkout
	f = fetch
	ignored = ls-files --other --ignored --exclude-standard
	ll = log --graph --abbrev-commit --decorate       --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg = log --graph --abbrev-commit --decorate       --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lx = log --graph                 --decorate=short --color         --format=format:'%C(bold blue)%h%C(reset)+%C(bold black)(%cr)%C(reset)+%C(auto)%d%C(reset)++\n+++       %C(bold black)%an%C(reset)%C(bold black): %s%C(reset)' --all
	lt = log --graph                 --decorate=short --color         --format=format:'%C(bold blue)%h%C(reset) %C(auto)%d%C(reset)\n         %C(bold black)[%cr]%C(reset)  %x09%C(bold black)%an: %s %C(reset)' --all
	local = log @{upstream}..
	new = ls-files --others --exclude-standard
	pr = !"pr() { git_dir=$(git rev-parse --git-common-dir 2>/dev/null) && if grep -q remote \"${git_dir}/config\"; then git pull --rebase \"$@\"; else echo 'No remote: nothing to do'; fi; }; pr"
	push-no-hook = !"pushNoHook() { if [ -e .git/hooks/pre-push ]; then mv .git/hooks/pre-push .git/hooks/pre-push-disabled-by-alias && { git push \"$@\"; mv .git/hooks/pre-push-disabled-by-alias .git/hooks/pre-push; } else git push \"$@\"; fi; }; pushNoHook"
	r = rebase
	rc = rebase --continue
	ri = rebase --interactive
	s = status
	serve = daemon --reuseaddr --verbose --base-path=. --export-all ./.git
	st = status
	with-stash = !"set -euo pipefail; changes=\"$(git status -z)\"; if [ -n \"${changes}\" ]; then echo 'Changes detected: stashing'; git stash; trap 'echo && echo Unstaging && git stash pop' EXIT; else echo 'No changes: proceeding without stash'; fi; echo;"
[branch]
	autosetuprebase = always
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore-global
	precomposeunicode = true
	quotepath = false
[credential]
	helper = osxkeychain
[fetch]
	prune = true
[push]
	default = upstream
[rebase]
	autosquash = true
[user]
	email = barnardb@gmail.com
	name = Ben Barnard
[init]
	defaultBranch = main
